/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap");

/*-----------common styles or utilities------------*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}
/* main{
    display: flex;
    justify-content: center;
} */

/*-------------banner styles------------------ */

.copa-america {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: center;
  align-items: center; */
  background-color: #2d25a0;
  /* grid-row-gap: 30px; */

  /* padding-left: 156px;
    padding-top: 207px;
    padding-bottom: 240px; */

  /* width: 1440px;
    height: 677px; */
}

.copa-america h1 {
  width: 485px;
  height: 230px;
  margin-top: 120px;
  margin-left: 156px;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
}
.copa-america img {
  width: 556.01px;
  height: 438px;
  margin-top: 30px;
}

.link-button {
  text-decoration: none;
  background-color: #e02c6d;
  padding: 10px 10px 10px 25px;

  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 156px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 10px 24px; */
  width: 120px;
  height: 30px;
}

/*---------------top-players styles----------------*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.top-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 27px;
}

.single-player {
  display: block;
  align-items: flex-start;
  text-align: left;
  width: 330px;
  height: 474px;
  background-color: #ffffff;
  border: 1px solid #ffffff;

  margin: 0px 30px;

  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-details {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 26px;
  /* Weight:400 ;  */
}

.single-player .player-img img {
  /* width: 330px; */
  /* height: 474px; */
  width: 330px;
  height: 256px;
}

.player-title {
  font-weight: bold;
  font-size: 28px;
  /* line-height: 20px; */
  margin-top: 10px;
}

.player-info {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}

/*-------------extra part styles----------------*/
.highlights {
  display: grid;
  grid-row-gap: 71px;
  /* grid-template-columns: repeat(2, 1fr);
      align-items: justify; */
  margin-top: 250px;
  margin-bottom: 200px;
}

.blog {
  display: flex;
}
.blog-info {
  /* display: block; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 180px;
}
.blog-title {
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  align-items: flex-start;
  margin: 8px 0px;
  /* width: 469px;
  height: 120px; */
}
.blog-title2 {
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  align-items: flex-start;
}
.blog-author {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 28px;
}
.blog-button {
  width: 173px;
  height: 44px;
  background: #e02c6d;
  color: #ffffff;
  padding: 5px 0px 5px 25px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blog .thumbnail img {
  width: 567px;
  height: 427px;
  margin-left: 71px;
  margin-right: 156px;
}

.fa-futbol.filled {
  color: darkslategray;
  font-size: 50px;
}
.fa-futbol.fil {
  color: red;
  font-size: 50px;
}
.fa-futbol.fill {
  color: olivedrab;
  font-size: 50px;
}

.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 170px; */
  height: 400px;
}
.sponsorh {
  color: orangered;
  font-size: 48px;
}
hr {
  border: 1px solid green;
}

/* .sponsor-img {
  width: 100px;
  height: 100px;
} */

/* -----------------footer styles--------------*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: block; */
  /* justify-content: center; */
  margin-bottom: 30px;
  height: 427px;
}

.logo img {
  width: 483.87px;
  height: 110px;
  margin: 20px 0px;
}
.social-icons {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.fa-instagram {
  color: rgb(214, 55, 55);
  font-size: 40px;
  padding: 15px;
}

.fa-dribbble {
  color: mediumvioletred;
  font-size: 40px;
  padding: 15px;
}

.fa-twitter {
  color: dodgerblue;
  font-size: 40px;
  padding: 15px;
}
.fa-youtube {
  color: red;
  font-size: 40px;
  padding: 15px;
}

.cright {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  margin: 20px 0px;
}

/* ---------------Media Queries -----------------*/

/* Mobile Devices */

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .copa-america .top-players .highlights .end {
    grid-template-columns: repeat(1, 1fr);
  }
  .top-players .highlights {
    flex-direction: column;
  }
}

/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .copa-america .top-players {
    grid-template-columns: repeat(2, 1fr);
  }
  .highlights {
    grid-template-columns: repeat(1, 1fr);
  }
}
